<ion-modal-view class="customeModel">
<!-- <ion-view view-title="Nova partida"  hide-back-button="false"> -->
	<ion-header-bar class="bar bar-header bar-calm">
	    <h1 class="title" ng-if="event.id">{{event.nameTemp}}</h1>
	    <h1 class="title" ng-if="!event.id">Novo evento</h1>
	    <button class="button button-clear button-primary" ng-click="modalEditEvent.hide()">Fechar</button>
	</ion-header-bar>
	<ion-content>
		
		<div style="padding-top:20px;">
		<button class="button button-positive button-full button-small icon ion-person-stalker" style="margin: 0;" ng-show="event.id" ng-click="selectContactsInvite()">
			&nbsp;&nbsp;&nbsp;CONVIDAR
		</button>        

		<div class="item item-divider">
		    Dados do evento
		</div>

	    <label class="item item-input" ng-if="event.id">
	    	<span class="input-label">Código do evento</span>
	   	    {{event.id}}
	    </label>
	    	
	    <label class="item item-input">
	   	    <i class="icon ion-person placeholder-icon"></i>
	   	    <span class="input-label">Nome</span>
        	<input type="text"  ng-model="event.name">
	    </label>

	    <label class="item item-input">
	      
	    	<i class="icon ion-calendar placeholder-icon"></i>
    		<span class="input-label">Data</span>	
        <input type="date"  ng-model="event.dateStr">
	    </label>

	    <label class="item item-input item-select">
				<i class="icon ion-trophy placeholder-icon"></i>
				<span class="input-label">Modalidade</span>	
				<select ng-model="event.modality.id"  placeholder="Modalidade">
				    <option value="" disabled selected></option>
			    	<option ng-repeat="item in editEvent.modalities" value="{{item.id}}">{{item.name}}</option>
			    </select>
			</label>

			<label class="item item-input" >	
	    	<i class="icon ion-person-stalker placeholder-icon"></i>
	    	<span class="input-label">Máx. Participantes</span>	
	      <input type="number" ng-model="event.maxParticipants" >
	    </label>

	    <div class="item item-divider">
		    Local
		</div>


		   <label class="item item-input item-select">
				<i class="icon ion-ios-location placeholder-icon"></i>
				<span class="input-label">Estado</span>	
				<select ng-model="event.state.id" ng-change="onSelectStateEditEvent()">
					<option value="" disabled selected></option>
		    		<option ng-repeat="item in editEvent.states" value="{{item.id}}">{{item.name}}</option>
			    </select>
			</label>
			<label class="item item-input item-select">
				<i class="icon ion-ios-location placeholder-icon"></i>
				<span class="input-label">Cidade</span>	
				<select ng-model="event.city.id" >
					<option value="" disabled selected></option>
			    	<option ng-repeat="item in editEvent.cities" value="{{item.id}}">{{item.name}}</option>
			    </select>
			</label>

		    <label class="item item-input" >	
		    	<i class="icon ion-ios-navigate placeholder-icon"></i>
		    	<span class="input-label">Local</span>	
		    	<input type="text" ng-model="event.local" >
		    </label>

		</div>

		    
	<button class="button button-calm button-full button-small icon ion-checkmark-round" ng-click="saveEvent()">&nbsp;&nbsp;&nbsp;SALVAR</button>        

	</ion-content>
</ion-modal-view>

<script id="templates/modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-calm">
	    <h1 class="title">Campos Obrigatórios</h1>
	    <button class="button button-clear button-primary" ng-click="modalAlert.hide()">Fechar</button>
	  </ion-header-bar>
		<ion-content>
			<h5> Verifique os campos: </h5>
			
			<!-- <button class="button button-calm button-full button-small" ng-click="modalAlert.hide()">FECHAR</button>         -->
		</ion-content>
		
	</ion-modal-view>
</script>

<script id="templates/contacts-modal.html" type="text/ng-template">
	<ion-modal-view>
	  <ion-header-bar class="bar bar-header ">
	    <h1 class="title">Selecionar</h1>
	    <button class="button button-clear button-primary" ng-click="modalContacts.hide()">Cancelar</button>
	  </ion-header-bar>
	  <ion-content class="padding">
	    <ion-list >

				<ion-checkbox ng-repeat="relationship in relationshipList" ng-model="relationship.checked" ng-checked="relationship.checked" class="checkbox-calm">
         {{relationship.followed.firstName}} {{relationship.followed.lastName}}
        </ion-checkbox>
			</ion-list>
			<button class="button button-calm button-full button-small icon ion-checkmark-round" ng-click="finishSelectContactsInvite()">
				&nbsp;&nbsp;&nbsp;ENVIAR
			</button>        
	  </ion-content>
	</ion-modal-view>
</script>
