<ion-modal-view class="customeModel">
	<ion-header-bar align-title="center" class="bar-calm">
		<button ng-click="modalEditEvent.hide()" class="button back-button buttons button-clear header-item">
			<i class="icon ion-android-close"></i> 
		</button>
		<h1 class="title" ng-if="event.id">{{event.nameTemp}}</h1>
	    <h1 class="title" ng-if="!event.id">Novo evento</h1>
		<div class="buttons buttons-right" ng-if="event.id">
			<button menu-toggle="right" class="button button-icon icon ion-person-add" ng-click="selectContactsInvite()"></button>	
		</div>
	</ion-header-bar>

	<ion-content>

		<div class="item item-divider positive" ng-if="event.id">
		    Gerenciar participantes
		</div> 

		<div style="padding-top: 10px" ng-if="event.id">
			<div class="item tabs tabs-secondary tabs-icon-left" style="border: 0px">
	            <a class="tab-item" ng-click="openModalSolicPartEdit(event)" style="font-weight: 800; color: #000000;background-color: #c7c1c1; margin: 2px">
	                Solic. Pendentes ({{event.invitationsSummary.pendingApproval}})
	            </a>
	            <a class="tab-item" ng-click="openModalConfirmedsEdit(event)" style="font-weight: 800;  color: #000000; background-color: #33cd5f ; margin: 2px">
	                Confirmados ({{event.invitationsSummary.confirmed}})
	            </a>
	        </div>
	        <div class="item tabs tabs-secondary tabs-icon-left" style="border: 0px">
	            <a class="tab-item" ng-click="openModalPendingEdit(event)" style="font-weight: 800;  color: #000000; background-color: #e7e04a; margin: 2px">
	                Pendentes ({{event.invitationsSummary.pendingInvites}})
	            </a>
	            <a class="tab-item" ng-click="openModalDeclinedEdit(event)" style="font-weight: 800; color: #000000; background-color: #e59090; margin: 2px">
	                Recusados ({{event.invitationsSummary.declined}})
	            </a>
	            
	        </div>
	    </div>

		<div class="list" style="padding-top:10px;">

			<div class="item item-divider positive">
			    Dados do evento
			</div> 

			<div class="row" ng-if="event.id">	
				<div class="col col-10 text-center" style="padding-top: 40px">
					<i class="icon ion-trophy" style="font-size: 30px;"></i>					
				</div>
				<div class="col col-90 " style="border: 0px">
					<label class="item item-input item-stacked-label" style="border: 0px">
						<span class="input-label">Código do evento</span>
		   	    		<input type="text" placeholder="Partida dos amigos" ng-model="event.id" disabled="true" 
			    			style="border-bottom: 1px; border-style: solid;">
		    		</label>	
				</div>
			</div>	

		    <div class="row" >
				<div class="col col-10 text-center" style="padding-top: 40px">
					<i class="icon ion-trophy" style="font-size: 30px;" ng-if="!event.id"></i>					
				</div>
				<div class="col col-90" style="border: 0px">
					<label class="item item-input item-stacked-label" style="border: 0px">
						<span class="input-label">Nome</span>
			    		<input type="text" placeholder="Partida dos amigos" ng-model="event.name" 
			    			style="border-bottom: 1px; border-style: solid;">
		    		</label>	
				</div>
			</div>	
		    	
		    
	      	<div class="row"  style="border: 0px">
				<div class="col col-45 col-offset-10" style="border: 0px">
					<label class="item item-input item-stacked-label" style="border: 0px">
	    	    		<span class="input-label">Data</span>	
			        	<input type="date" ng-model="event.date" style="border-bottom: 1px; border-style: solid;">	
		        	</label>
		        </div>
		        <div class="col" style="border: 0px">
		        	<label class="item item-input item-stacked-label" style="border: 0px">  
			        	<span class="input-label">Horário</span>	
			        	<input type="time"  ng-model="event.time" style="border-bottom: 1px; border-style: solid;">	
			        </label>	
		        </div>
		    </div>

 
		    <div class="row" >
				<div class="col col-90 col-offset-10" style="border: 0px">
					<label class="item item-input item-stacked-label" style="border: 0px">
						<div  style="border: 0px">
							<span class="input-label">Modalidade</span>
						</div>
			    		<select ng-model="event.modality.id"  ng-options="item.id as item.name for item in editEvent.modalities"
			    		 placeholder="Modalidade" style="border:0px; position: relative !important; width: 100%; border-bottom: 1px; border-style: solid;">
						    <option value="" disabled></option>
					    </select>
		    		</label>	
				</div>
			</div>	

			<div class="row" >
				<div class="col col-90 col-offset-10" style="border: 0px">
					<label class="item item-input item-stacked-label" style="border: 0px">
						<span class="input-label">Max Participantes</span>
			    		<input type="tel" placeholder="10" ng-model="event.maxParticipants"
			    			style="border-bottom: 1px; border-style: solid;">
		    		</label>	
				</div>
			</div>	

		    <div class="item item-divider positive">
			    Local
			</div>
				
			<div class="row" >
				<div class="col col-10 text-center" style="padding-top: 30px">
					<i class="icon ion-ios-location" style="font-size: 30px;"></i>					
				</div>
				<div class="col col-90" style="border: 0px">
					<label class="item item-input item-stacked-label" style="border: 0px">
						<div  style="border: 0px">
							<span class="input-label">Estado</span>
						</div>
			    		<select ng-model="event.state.id"  ng-change="onSelectStateEditEvent()"
							ng-options="item.id as item.name for item in editEvent.states"
			    		 	style="border:0px; position: relative !important; width: 100%; border-bottom: 1px; border-style: solid;">
						    <option value="" disabled></option>
					    </select>


		    		</label>	
				</div>
			</div>	

			<div class="row" >
				<div class="col col-90 col-offset-10" style="border: 0px">
					<label class="item item-input item-stacked-label" style="border: 0px">
						<div  style="border: 0px">
							<span class="input-label">Cidade</span>
						</div>
						<select ng-model="event.city.id"  
							ng-options="item.id as item.name for item in editEvent.cities"
			    		 	style="border:0px; position: relative !important; width: 100%; border-bottom: 1px; border-style: solid;">
						    <option value="" disabled></option>
					    </select>
			    		
		    		</label>	
				</div>
			</div>	

			<div class="row" >
				<div class="col col-90 col-offset-10" style="border: 0px">
					<label class="item item-input item-stacked-label" style="border: 0px">
						<span class="input-label">Endereço</span>
			    		<input type="text" placeholder="Multi Sport - Rua exemplo, 22" ng-model="event.local" 
			    			style="border-bottom: 1px; border-style: solid;">
		    		</label>	
				</div>
			</div>	

		</div>

		<div style="padding: 20px">
			<button class="button button-block button-balanced" ng-click="saveEvent()">
			  SALVAR
			</button>
		</div>

	</ion-content>
</ion-modal-view>

<script id="templates/modalCamposObrigatorios.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-calm">
	    	<h1 class="title">Campos Obrigatórios</h1>
	  	</ion-header-bar>
		<ion-content style="padding: 20px">
			<h5> Preencha corretamente os campos abaixo </h5>
			
			<div >
				<ul class="list" >
      				<li ng-repeat="campo in camposObrigatorios">
      					- {{campo}}
      				</li>	
      			</ul>	
			</div>
			<div style="padding: 20px">
				<button class="button button-block button-balanced" ng-click="modalCamposObrigatorios.hide()">
				  OK
				</button>
			</div>
		</ion-content>
		
	</ion-modal-view>
</script>

<script id="templates/contacts-modal.html" type="text/ng-template">
	<ion-modal-view>
	 
		<ion-header-bar align-title="center" class="bar-calm">
			<button ng-click="modalContacts.hide()" class="button back-button buttons button-clear header-item">
				<i class="icon ion-android-close"></i> 
			</button>
			<h1 class="title" >Convidar contatos</h1>
		</ion-header-bar>

	  	<ion-content class="padding">
	    	<ion-list >
				<ion-checkbox ng-repeat="relationship in relationshipList" ng-model="relationship.checked" ng-checked="relationship.checked" class="checkbox-calm">
         			{{relationship.followed.firstName}} {{relationship.followed.lastName}}
        		</ion-checkbox>
			</ion-list>
			
			<div style="padding: 20px">
				<button class="button button-block button-balanced" ng-click="finishSelectContactsInvite()">
				  CONVIDAR
				</button>
			</div>
	  	</ion-content>
	</ion-modal-view>
</script>

<!-- Modal Solic Part -->
<script id="templates/modal-solic-part-edit.html" type="text/ng-template">
	<ion-modal-view>
	 
		<ion-header-bar align-title="center" class="bar-calm">
			<button ng-click="modalSolicPartEdit.hide()" class="button back-button buttons button-clear header-item">
				<i class="icon ion-android-close"></i> 
			</button>
			<h1 class="title" >Solicitações Pendentes</h1>
		</ion-header-bar>

	  	<ion-content class="padding">
	  		<div class="list" ng-repeat="invitation in SolicsList" >
                <div class="item item-avatar item-button-right">
                    <img ng-src="http://www.freeiconspng.com/uploads/profile-icon-9.png">
                    <h2>{{invitation.player.firstName}} {{invitation.player.lastName}}</h2>
                    <div class="buttons">
					    <button class="button button-balanced" ng-click="answerSolic(invitation.id, true)">
					    	<i class="icon ion-checkmark " ></i>
					    </button>
				    	<button class="button button-assertive" ng-click="answerSolic(invitation.id, false)">
				     		<i class="icon ion-close" ></i>
				    	</button>
				    </div>
                </div>
            </div>

	  	</ion-content>
	</ion-modal-view>
</script>

<!-- Modal Confirmados -->
<script id="templates/modal-confirmeds-edit.html" type="text/ng-template">
	<ion-modal-view>
	 
		<ion-header-bar align-title="center" class="bar-calm">
			<button ng-click="modalConfirmedsEdit.hide()" class="button back-button buttons button-clear header-item">
				<i class="icon ion-android-close"></i> 
			</button>
			<h1 class="title" >Confirmados</h1>
		</ion-header-bar>

	  	<ion-content class="padding">

	  		<div class="list" ng-repeat="invitation in confirmedsList" >
                <div class="item item-avatar item-button-right">
                    <img ng-src="http://www.freeiconspng.com/uploads/profile-icon-9.png">
                    <h2>{{invitation.player.firstName}} {{invitation.player.lastName}}</h2>
                    <div class="buttons">
					    <button class="button button-assertive">
				     		<i class="icon ion-close"></i>
				    	</button>
				    </div>
                </div>
            </div>
	  	</ion-content>
	</ion-modal-view>
</script>

<script id="templates/modal-pending-edit.html" type="text/ng-template">
	<ion-modal-view>
	 
		<ion-header-bar align-title="center" class="bar-calm">
			<button ng-click="modalPendingEdit.hide()" class="button back-button buttons button-clear header-item">
				<i class="icon ion-android-close"></i> 
			</button>
			<h1 class="title" >Convites pendentes</h1>
		</ion-header-bar>

	  	<ion-content class="padding">

	  		<div class="list" ng-repeat="invitation in invitedsList" >
                <div class="item item-avatar item-button-right">
                    <img ng-src="http://www.freeiconspng.com/uploads/profile-icon-9.png">
                    <h2>{{invitation.player.firstName}} {{invitation.player.lastName}}</h2>
                    <div class="buttons">
					    <button class="button button-assertive">
				     		<i class="icon ion-close"></i>
				    	</button>
				    </div>
                </div>
            </div>
	  	</ion-content>
	</ion-modal-view>
</script>

<script id="templates/modal-declined-edit.html" type="text/ng-template">
	<ion-modal-view>
	 
		<ion-header-bar align-title="center" class="bar-calm">
			<button ng-click="modalDeclinedEdit.hide()" class="button back-button buttons button-clear header-item">
				<i class="icon ion-android-close"></i> 
			</button>
			<h1 class="title" >Convites recusados</h1>
		</ion-header-bar>

	  	<ion-content class="padding">
			<div class="list" ng-repeat="invitation in declinedsList" >
                <div class="item item-avatar item-button-right">
                    <img ng-src="http://www.freeiconspng.com/uploads/profile-icon-9.png">
                    <h2>{{invitation.player.firstName}} {{invitation.player.lastName}}</h2>
                </div>
            </div>
	  		
	  	</ion-content>
	</ion-modal-view>
</script>
