<ion-view view-title="Nova partida"  hide-back-button="true">
	<ion-nav-buttons side="right">
	</ion-nav-buttons>
	<ion-content>
		
		<div style="padding-top:10px;">
	    <!-- <h3 class="sans-pro-light">Dados</h3> -->

	    <label class="item item-input">
	   	    {{event.id}}
	    </label>

	    <label class="item item-input">
	   	    <i class="icon ion-person placeholder-icon"></i>
        	<input type="text" placeholder="Nome" ng-model="event.name">
	    </label>

	    <label class="item item-input">
	    	<i class="icon ion-calendar placeholder-icon"></i>
	        <input type="date" placeholder="Data do evento" ng-model="event.dateStr">
	    </label>

	    <label class="item item-input item-select">
			<i class="icon ion-trophy placeholder-icon"></i>
			<select ng-model="event.modality.id"  placeholder="Modalidade">
			    <option value="" disabled selected>Modalidade</option>
		    	<option ng-repeat="item in modalities" value="{{item.id}}">{{item.name}}</option>
		    </select>
		</label>

	    <label class="item item-input item-select">
			<i class="icon ion-ios-location placeholder-icon"></i>
			<select ng-model="event.state.id" ng-change="onSelectState()">
				<option value="" disabled selected>Estado</option>
	    		<option ng-repeat="item in states" value="{{item.id}}">{{item.name}}</option>
		    </select>
		</label>
		<label class="item item-input item-select">
			<i class="icon ion-ios-location placeholder-icon"></i>
			<select ng-model="event.city.id" ng-change="onSelectCity()">
				<option value="" disabled selected>Cidade</option>
		    	<option ng-repeat="item in cities" value="{{item.id}}">{{item.name}}</option>
		    </select>
		</label>

    <label class="item item-input" >	
    	<i class="icon ion-ios-navigate placeholder-icon"></i>
        <input type="text" placeholder="Local" ng-model="event.local" >
    </label>

    <div class="col"  ng-show="event.id">
    
			<a ng-click="selectContacts()" class="button button-icon">
				<i class="icon ion-ionic ion-person-add"></i>
				Enviar convites
			</a>

			<!-- <ion-list >
					<ion-item ng-repeat="user in event.usersInvitations">
			    	{{user.firstName}} {{user.lastName}}
					</ion-item>
	      </ion-checkbox>	
			</ion-list> -->

	</div>
	    
	<button class="button button-calm button-full button-small icon ion-checkmark-round" ng-click="save()">&nbsp;&nbsp;&nbsp;SALVAR</button>        
    	

		
		

	</ion-content>
</ion-view>

<script id="templates/modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-calm">
	    <h1 class="title">Campos Obrigatórios</h1>
	    <button class="button button-clear button-primary" ng-click="modalAlert.hide()">Fechar</button>
	  </ion-header-bar>
		<ion-content>
			<h5> Verifique os campos: </h5>
			
			<!-- <button class="button button-calm button-full button-small" ng-click="modalAlert.hide()">FECHAR</button>         -->
		</ion-content>
		
	</ion-modal-view>
</script>

<script id="templates/contacts-modal.html" type="text/ng-template">
	<ion-modal-view>
	  <ion-header-bar class="bar bar-header ">
	    <h1 class="title">Selecionar</h1>
	    <button class="button button-clear button-primary" ng-click="modalContacts.hide()">Cancelar</button>
	  </ion-header-bar>
	  <ion-content class="padding">
	    <ion-list >
				<!-- <ion-item ng-repeat="contact in contactsList" ng-click="checkContact(contact)">
					<label class="checkbox">
		        		<input type="checkbox" ng-click="checkContact(contact); $event.stopPropagation();" ng-model="contact.checked">
		     		</label>
			    	{{contact.name}}
				</ion-item> -->

				<ion-checkbox ng-repeat="relationship in relationshipList" ng-model="relationship.checked" ng-checked="relationship.checked" class="checkbox-calm">
         {{relationship.followed.firstName}} {{relationship.followed.lastName}}
        </ion-checkbox>
			</ion-list>
			<button class="button button-calm button-full button-small icon ion-checkmark-round" ng-click="finishSelectContacts()">
				&nbsp;&nbsp;&nbsp;ENVIAR
			</button>        
	  </ion-content>
	</ion-modal-view>
</script>
