<ion-view view-title="Buscar partidas"  hide-back-button="true">
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-ios-settings-strong"></button>
		<!-- <button menu-toggle="right" class="button button-icon icon ion-navicon"></button> -->
	</ion-nav-buttons>
	<ion-content>
		{{teste}}
		<ion-list>
			<ion-item ng-repeat="event in events" href="#/app/view-event/{{event.id}}">
		    	{{event.name}}
			</ion-item>
			<!-- <ion-item ng-repeat="event in events" ng-click="selectEvent(event)">
		    	{{event.name}}
			</ion-item> -->
		</ion-list>
	</ion-content>
</ion-view>
