<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">
    
    <ion-content>
      <ion-list>
        
        <ion-item  menu-close href="#/app/perfil" class="item-menu-avatar text-center border"> 
          <img src="http://www.freeiconspng.com/uploads/person-icon-user-person-man-icon-4.png" style="height:120px">
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.events">
          <i class="icon ion-search calm"></i>
          <h2 class="calm">Buscar eventos</h2>
        </ion-item>


        <!-- <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.editEvent">
          <i class="icon ion-plus calm"></i>
          <h2 class="calm">Nova partida</h2>
        </ion-item> -->

        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.eventsAdmin">
          <i class="icon ion-gear-a calm" ></i>
          <h2 class="calm">Administrar eventos</h2>
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.confirmedEvents">
          <i class="icon ion-checkmark-round calm"></i>
          <h2 class="calm">Eventos confirmadas</h2>
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.pendingInvites">
          <i class="icon ion-email-unread calm"></i>
          <h2 class="calm">Convites pendentes</h2>
        </ion-item>

        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.contacts">
          <i class="icon ion-person calm"></i>
          <h2 class="calm">Meus contatos</h2>
        </ion-item>
        

      </ion-list>
    </ion-content>

    <ion-footer-bar  class="bar-calm">
      <button class="button button-clear white-color" ng-click="logout()" menu-close>Sair</button>
    </ion-footer-bar>

  </ion-side-menu>
</ion-side-menus>
