<ion-view view-title="Nova partida"  hide-back-button="true">
	<ion-nav-buttons side="right">
	</ion-nav-buttons>
	<ion-content>
		
		<div style="padding-top:50px;">
	    <!-- <h3 class="sans-pro-light">Dados</h3> -->

	    <label class="item item-input">
	        <input type="text" placeholder="Nome">
	    </label>

	    <label class="item item-input item-select">
			<div class="input-label">
				Modalidade
			</div>
			<select ng-model="event.modality">
		    	<option ng-repeat="item in modalities" value="{{item}}">{{item.name}}</option>
		    </select>
		</label>

	    <label class="item item-input">
	        <input type="text" placeholder="Local">
	    </label>
	    <label class="item item-input">
	    	<div class="input-label">
				Data
			</div>
	        <input type="date" placeholder="Data" ng-model="newEvent.date">
	    </label>

	</ion-content>
</ion-view>
