<ion-view view-title="Convites pendentes"  hide-back-button="true">
	<ion-nav-buttons side="right">
	</ion-nav-buttons>
	<ion-content>
		
		<ul class="list" >
      		<li class="item striped item-button-bottom item-icons-bottom item-thumbnail-left" ng-repeat="event in events">
	            <img ng-src="img/sports.png"> 

        		<h2>01/01/2016</h2>
          		<h4>{{ event.modality.name }} - {{ event.name }}</h4>
          		<h4><b> Organizador: {{ event.owner.firstName }} {{ event.owner.lastName }}</b></h4>
          		<h4><b> 2 Vaga(s)</b></h4>
        		<div class="buttons action-buttons">
                    <button class="button button-balanced" ng-click="solicitation(event)" style="width: 100px">
                        <i class="icon ion-checkmark-round"></i>
                    </button>
                    <button class="button button-royal" style="width: 100px; background-color: red;">
                        <i class="icon ion-close-round" ></i>
                    </button>
                </div>
        		
			 </li>
	     </ul>
	</ion-content>
</ion-view>
