<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar bar-calm">
    <button ui-sref="welcome" class="button button-clear button-deepblue-white"><i class="white-color ion-arrow-left-c"></i></button>
    <h3 class="title">Token</h3>
  </ion-header-bar>
  <ion-content class="padding full-height">

    <div class="row"  style="padding-top:50px;">
        <div class="col col-20"></div>
        <div class="col">
            
            <button class="button button-large button-calm button-block" ng-click="login()">LOGIN</button>        
            <button class="button button-large button-calm button-block" ng-click="refresh()">REFRESH</button>        
            <button class="button button-large button-calm button-block" ng-click="logoff()">LOGOFF</button>        
            <button class="button button-large button-calm button-block" ng-click="userInfo()">USER INFO</button>        

        </div>
        <div class="col col-20"></div>
    </div>
  </ion-content>

</ion-view>
