<ion-view hide-nav-bar="true">
  
  <!-- <ion-nav-view name="welcomeContent"></ion-nav-view> -->

  <ion-content class="padding full-height">
    <br/>
    
    <h3 class="white-color text-center sans-pro-light">
        <img ng-src="img/logo2.png" style="width: 50%">
    </h3>

    <div class="row"  style="padding-top:50px;">
        <div class="col col-20"></div>
        <div class="col">
            
            <!-- <a class="item" href="http://ec2-52-42-47-0.us-west-2.compute.amazonaws.com:8080/auth/realms/onemore/protocol/openid-connect/auth?client_id=onemoreapp&redirect_uri=http%3A%2F%2Flocalhost%2Fcallback&response_type=code">
                Entrar Keycloak WEB
            </a> -->
            
            <button class="button button-large button-calm button-block" ng-click="loginSSO()">ENTRAR</button>        
            
            <!-- <button class="button button-large button-calm button-block" ng-click="loginForcado()">Login forçadox</button>         -->

            <!-- <button class="button button-large button-calm button-block" ui-sref="token">TOKEN</button>        

            <button class="button button-large button-calm button-block" ui-sref="app.events">Entrar direto</button>         -->

            

        </div>
        <div class="col col-20"></div>
    </div>
  </ion-content>

  <!-- <ion-footer-bar ui-sref="app.signup" class="bar bar-calm">
    <h1 class="title sans-pro-light">Não sou cadastrado</h1>
  </ion-footer-bar> -->

</ion-view>
